h2 {
    font-size: 40px;
    line-height: 56px;
    color: #1D1D1D;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}


.banner {
}

.top-banner {
    width: 100%;
}

.inspiration {
    padding: 28px;
}

.section-title {
    font-size: 24px;
    line-height: 33px;
    color: #417505;
}

.article {
}

.article-content {
    font-size: 32px;
    line-height: 45px;
    color: #333333;
    margin-top: 12px;
}

.store {
    margin: 28px 0;
    box-shadow: 0 2px 4px 2px rgba(221, 221, 221, 0.50);
    border-radius: 7px 7px 8px 8px;
}

.swiper-container {
}

.swiper-slide {
}

.store-info {
    padding: 20px;
    position: relative;
}

.store-location {
    font-size: 24px;
    line-height: 33px;
    color: #666666;
}

.store-name {
    font-size: 32px;
    line-height: 45px;
    color: #1D1D1D;
}


.store-avatar {
    position: absolute;
    top: -40px;
    right: 0;
    width: 108px;
    height: 108px;
    border: 6px solid #FFFFFF;
    border-radius: 60px;
    z-index: 1;
}

.store-tag {
    width: 108px;
    height: 32px;
    position: absolute;
    right: 6px;
    top: 58px;
    z-index: 1;
    border-radius: 18px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
}

.popular {
    background: #F25F5C;
}

.certification {
    background-color: #287BA0;
}

.store-appraise {
}

.score-comments {
    display: inline;
    font-size: 20px;
    line-height: 28px;
    color: #666666;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-comment {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #ECECEC;
}

.comment-content {
    font-size: 24px;
    color: #1D1D1D;
    letter-spacing: -0px;
    line-height: 33px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.price-discount {
    margin-top: 16px;
    color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 28px;
    letter-spacing: -0px;
    line-height: 40px;
}

.discount {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.discount-logo {
    width: 30px;
    height: 30px;
    background-color: #333333;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    margin-right: 8px;
}