h2 {
    font-size: 20px;
    line-height: 28px;
    color: #1D1D1D;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}


.banner {
}

.top-banner {
    width: 100%;
}

.inspiration {
    padding: 19px;
}

.section-title {
    font-size: 12px;
    line-height: 16px;
    color: #417505;
}

.article {
}

.article-content {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    margin-top: 6px;
}

.store {
    margin: 19px 0;
    box-shadow: 0 2px 4px 2px rgba(221, 221, 221, 0.50);
    border-radius: 7px 7px 8px 8px;
}

.swiper-container {
}

.swiper-slide {
}

.store-info {
    padding: 10px;
    position: relative;
}

.store-location {
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}

.store-name {
    font-size: 16px;
    line-height: 22px;
    color: #1D1D1D;
}


.store-avatar {
    position: absolute;
    top: -20px;
    right: 0;
    width: 54px;
    height: 54px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    z-index: 1;
}

.store-tag {
    width: 54px;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 29px;
    z-index: 1;
    border-radius: 9px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
}

.popular {
    background: #F25F5C;
}

.certification {
    background-color: #287BA0;
}

.store-appraise {
    font-size: 0;
}
.star{
    margin-right: 4px;
}
.score-comments {
    display: inline;
    font-size: 10px;
    line-height: 14px;
    color: #666666;
}

.user-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.user-comment {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid #ECECEC;
}

.comment-content {
    font-size: 12px;
    color: #1D1D1D;
    letter-spacing: -0px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

.price-discount {
    margin-top: 8px;
    color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 14px;
    letter-spacing: -0px;
    line-height: 20px;
}

.discount {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.discount-logo {
    width: 15px;
    height: 15px;
    background-color: #333333;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    border-radius: 2px;
    text-align: center;
    margin-right: 4px;
}
.inset{
    margin-top: 15px;
    width: 100%;
}